{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>AlloPizza</h1>
    <p>Bienvenue Chez AlloPizza</p>
    <p>Cliquez <a href="#">ici</a> pour commander</p>
{% endblock %}
