<div class="row">
    {% for i in 1..6 %}
        <div class="col-4">
            <div class="card mb-3">
                <h3 class="card-header">Name product</h3>
                <img src="https://loremflickr.com/200/200/pizza" alt="name-product">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ingredient 1</li>
                    <li class="list-group-item">ingredient 2</li>
                    <li class="list-group-item">ingredient 3</li>
                </ul>
                <div class="card-body">
                    <span class="badge rounded-pill bg-success">-</span>
                    <span class="badge rounded-pill bg-secondary">0</span>
                    <span class="badge rounded-pill bg-success">+</span>                </div>
                <div class="card-footer text-muted">
                   10€
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>        </div>
    {% endfor %}
</div>

